*.py[cod]
*.swp

# Virtualenv
bin/
include/
lib/
local/
shared/

# Virtualenv in its own directory
env/

# Local sqlite DB
cotracker/*.db

# Generated/collected files
cotracker/static/
.coverage
htmlcov/
logs/
scripts/backups/*.tar.gz
scripts/backups/*.tar.gz.gpg
scripts/backups/*.log
