* {
    font-family: Helvetica;
    font-size:   x-large;
}

/* ==============================================
   == Elements
   ============================================== */

body {
    margin:  0px;
    padding: 0px;
}

div#aircraft_type_list p,
div#aircraft_type_list ul {
    display: inline;
}

div#aircraft_type_list ul {
    padding: 0px;
}

div#content {
    /* Resets content indentation since 'body' has neither margin nor padding */
    padding-left: 8px;
}

div#header {
    /* Light Blue */
    background:          #86D3FF;
    /* Dark Blue */
    border-bottom-color: #0B73F7;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    margin:              0px;
    /* Minimum width derived via experiments */
    min-width:           1150px;
    padding:             1px 0px 1px 0px;
    width:               100%;
}

div#header a {
    /* Dark Blue */
    border-right-color:  #0B73F7;
    border-right-style:  solid;
    border-right-width:  1px;
    color:               #000000;
    /* The -6 Left offsets the +6 Left padding on 'div#header ul' */
    margin:              0px 0px 0px -6px;
    padding:             25px 15px 26px 15px;
    text-decoration:     none;
}

div#header .current {
    background: #FFFFFF;
    border-bottom-color: #FFFFFF;
    border-bottom-style: solid;
    border-bottom-width: 2px;
}

div#header a:hover,
div#header .current:hover {
    /* Light Yellow */
    background: #FFFFBA;
}

div#header li {
    display: inline;
}

div#header ul {
    list-style-type: none;
    /* Properly left-aligns the header links */
    padding-left:    6px;
}

div#messages li.success {
    color: green;
}

div#messages li.error {
    color: red;
}

div#messages ul {
    list-style-type: none;
}

form ul {
    list-style-type: none;
}

form ul li {
    display: inline;
}

table {
    border-collapse: collapse;
}

table,
td,
th {
    border-color: black;
    border-style: solid;
    border-width: 1px;
}

th {
    /* Blue-Gray */
    background:  #93A5BB;
    color:       #FFFFFF;
    font-weight: normal;
    padding:     1px 10px 1px 10px;
}

td {
    background:  lightgray;
    padding:     1px 30px 1px 7px;
}

/* ==============================================
   == Classes
   ============================================== */

.enlarged-button {
    padding: 5px 10px 5px 10px;
}

.errorlist {
    color: red;
}

.large-checkbox {
    /* With many thanks to http://stackoverflow.com/a/10415275/564584 */
    -ms-transform:     scale(2); /* IE */
    -moz-transform:    scale(2); /* FF */
    -webkit-transform: scale(2); /* Safari and Chrome */
    -o-transform:      scale(2); /* Opera */
    padding:           10px;
}

.sudah {
    background: green;
}

.unprecedented {
    /* Orange */
    background: #FFA500;
}
