* {
    font-family: Helvetica;
    font-size: x-large;
}

body {
    margin:0px;
    padding:0px;
}

div#aircraft_type_list p,
div#aircraft_type_list ul {
    display:inline;
}

div#aircraft_type_list ul {
    padding: 0px;
}

div#content {
    padding: 8px;
}

div#header {
    /* Light Blue */
    background:#86D3FF;
    /* Dark Blue */
    border-bottom-color:#0B73F7;
    border-bottom-style:solid;
    border-bottom-width:2px;
    margin:0px;
    padding: 1px 0px 1px 0px;
}

div#header a {
    color: #000000;
    text-decoration: none;
}

div#header li {
    /* Dark Blue */
    border-right-color: #0B73F7;
    border-right-width: 1px;
    border-right-style: solid;
    display: inline;
    padding: 25 10 26 10;
}

div#header li:hover {
    /* Light Yellow */
    background: #FFFFBA;
}

div#header ul {
    list-style-type: none;
    padding: 0px;
}

div#messages li.success {
    color:green;
}

div#messages li.error {
    color:red;
}

form ul li {
    display:inline;
}

table {
    border-collapse:collapse;
}

table, td, th {
    border:1px solid black;
}

th {
    background:#93A5BB;
    color:white;
    font-weight:normal;
    padding: 1px 10px 1px 10px;
}

td {
    background:lightgray;
    padding: 1px 30px 1px 7px;
}

div#messages ul, form ul {
    list-style-type:none;
}

.errorlist {
    color:red;
}

.sudah {
    background:green;
}

.unprecedented {
    background:#FFA500;
}

.enlarged-button {
    padding: 5px 10px 5px 10px;
}
