{% extends "base.html" %}
{% block title %}Checkouts by Pilot - Detail{% endblock %}

{% block content %}
{% if pilot %}
    <p>Checked out at {{ checkouts_by_airstrip|length }} airstrip{{ checkouts_by_airstrip|length|pluralize }}.</p>
    <table border="1">
    <tr>
	<th colspan="2">Airstrip</th>
	<th colspan="{{ aircrafttypes|length }}">Aircraft Type</th>
    </tr>
    <tr>
	<th>Ident</th><th>Name</th>
	{% for aircraft in aircrafttypes %}
	<th>{{ aircraft }}</th>
	{% endfor %}
    </tr>
    {% for row in checkouts_by_airstrip %}
    <tr>
	<td>{{ row.ident }}</td>
	<td>{{ row.name }}</td>
	{% for actype in row.aircraft %}
	<td>{{ actype }}</td>
	{% endfor %}
    </tr>
    {% endfor %}
    </table>
{% endif %}
{% endblock content %}
