{% extends "base.html" %}
{% block title %}Checkouts by Pilot - Detail{% endblock title %}

{% block content_title %}
Checkouts for {{ pilot.last_name }}, {{ pilot.first_name }}
{% endblock content_title %}

{% block content %}
    <p>Checked out at {{ checkouts_by_airstrip|length }} airstrip{{ checkouts_by_airstrip|length|pluralize }}.</p>
    <table border="1">
    <tr>
	<th colspan="2">Airstrip</th>
	<th colspan="{{ aircrafttypes|length }}">Aircraft Type</th>
    </tr>
    <tr>
	<th>Ident</th><th>Name</th>
	{% for aircraft in aircrafttypes %}
	<th>{{ aircraft }}</th>
	{% endfor %}
    </tr>
    {% for row in checkouts_by_airstrip %}
    <tr>
	<td>{{ row.ident }}</td>
	<td>{{ row.name }}</td>
	{% for status in row.aircraft %}
	<td class="{{ status }}">&nbsp;</td>
	{% endfor %}
    </tr>
    {% endfor %}
    </table>
{% endblock content %}
