{% extends "base.html" %}

{% block title %}Edit Airstrip Checkouts{% endblock title %}

{% block content_title %}Edit Airstrip Checkouts{% endblock content_title %}

{% block content %}
<form action="{% url 'checkout_edit' %}" method="post">
{% csrf_token %}
{{ form.non_field_errors }}

<p>{{ form.pilot.errors }}</p>
<p>{{ form.pilot.label_tag }}: {{ form.pilot }}</p>

<p>{{ form.airstrip.errors }}</p>
<p>{{ form.airstrip.label_tag }}: {{ form.airstrip }}</p>

<div id='aircraft_type_list'>
<p>{{ form.aircraft_type.errors }}</p>
<p>{{ form.aircraft_type.label_tag }}: {{ form.aircraft_type }}</p>
</div>
<p>
    <input type="submit" name="action" class="enlarged-button" value="Add Checkout" />
    <input type="submit" name="action" class="enlarged-button" value="Remove Checkout" />
</p>

</form>
{% endblock content %}
