{% extends "base.html" %}

{% block title %}Airstrip Checkout Filter{% endblock title %}

{% block header_script %}
<script>
window.onload = function() {
    /* Ensures that the Airstrip and Base selectors are not contradictory. */
    airstrips = document.getElementById('id_airstrip');
    bases = document.getElementById('id_base');
    
    airstrips.onchange = function() {
        if(this.selectedIndex != 0) {
            if(bases.selectedIndex != 0) {
                console.log('Resetting selection index on id_base');
                bases.selectedIndex = 0;
            }
        }
    }
    
    bases.onchange = function() {
        if(this.selectedIndex != 0) {
            if(airstrips.selectedIndex != 0) {
                console.log('Resetting selection index on id_airstrip');
                airstrips.selectedIndex = 0;
            }
        }
    }
}
</script>
{% endblock header_script %}

{% block content_title %}Airstrip Checkout Filter{% endblock content_title %}

{% block content %}
<form action="{% url 'checkout_filter' %}" method="post">
{% csrf_token %}
{{ form.non_field_errors }}

<p>{{ form.pilot.errors }}</p>
<p>{{ form.pilot.label_tag }} {{ form.pilot }}</p>

<p>{{ form.airstrip.errors }}</p>
<p>{{ form.airstrip.label_tag }} {{ form.airstrip }}</p>

<p>{{ form.base.errors }}</p>
<p>{{ form.base.label_tag }} {{ form.base }}</p>

<p>{{ form.aircraft_type.errors }}</p>
<p>{{ form.aircraft_type.label_tag }}
{% for radio in form.aircraft_type %}
    {{ radio }}
{% endfor %}
</p>

<p>{{ form.checkout_status.errors }}</p>
<p> {{ form.checkout_status.label_tag }}
{% for radio in form.checkout_status %}
    {{ radio }}
{% endfor %}
</p>

<p><input type="submit" class="enlarged-button" value="Apply Filter" /></p>

</form>

{% include "checkouts/display_checkouts.html" %}
{% endblock content %}
