{% extends "base.html" %}

{% block title %}Pilot Weights{% endblock title %}

{% block content %}
<p>Pilot weight data is available for flight ops software use.<br />
To update a listed value, click 'Edit'.</p>
{% if pilotweight_list %}
    <table border="1">
    <tr>
        <th>Pilot</th>
        <th>Weight (kg)</th>
        <th></th>
    </tr>
    {% for pilot, weight in pilotweight_list %}
    <tr>
        <td>{{ pilot.full_name }}</td>
        <td><span style="float: right;">{{ weight }}</span></td>
        <td>
        {% if user.is_superuser or user.is_flight_scheduler or user == pilot %}
        <a href="{% url 'weight_edit' pilot.username %}">Edit</a>
        {% endif %}
        </td>
    </tr>
    {% endfor %}
    </table>
    {% if user.is_superuser or user.is_flight_scheduler %}
        <p>The pilot weight data was last published (in the server's timezone) at: {{ file_modified }}<br />
        To republish the data, edit any pilot's weight (even to the same value).</p>
    {% endif %}
{% else %}
<p>Looks like there aren't any pilot weights defined yet.</p>
{% endif %}
{% endblock content %}
