{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta content-type="text/html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static "checkouts/css/main.css" %}" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <title>
        {% block title %}Checkouts{% endblock title %}
    </title>
    {% block header_script %}{% endblock header_script %}
</head>
<body>
<header>
    <ul>
    {% with requested=request.path %}
    {% if user.is_authenticated %}
        {% if user.is_superuser or user.is_pilot or user.is_flight_scheduler %}
        <li>
            {% url 'checkout_edit' as current %}
            <a{% if current == requested %} class="current" {% endif %}
                href="{{  current }}"><span>Edit Checkouts</span></a>
        </li>
        {% endif %}
        
        <li>
            {% url 'checkout_filter' as current %}
            <a{% if current == requested %} class="current" {% endif %}
                href="{{  current }}"><span>Filter Checkouts</span></a>
        </li>
        <li>
            {% url 'pilot_list' as current %}
            <a{% if current == requested %} class="current" {% endif %}
                href="{{  current }}"><span>Pilot Reports</span></a>
        </li>
        <li>
            {% url 'airstrip_list' as current %}
            <a{% if current == requested %} class="current" {% endif %}
                href="{{  current }}"><span>Airstrip Reports</span></a>
        </li>
        <li>
            {% url 'base_list' as current %}
            <a{% if current == requested %} class="current" {% endif %}
                href="{{  current }}"><span>Base Reports</span></a>
        </li>
        {% if user.is_superuser or user.is_flight_scheduler or user.is_pilot %}
        <li>
            {% url 'weight_list' as current %}
            <a{% if current == requested %} class="current" {% endif %}
                href="{{  current }}"><span>Pilot Weights</span></a>
        </li>
        {% endif %}
        {% if user.is_superuser %}
        <li>
            {% url 'admin:index' as current %}
            <a{% if current == requested %} class="current" {% endif %}
                href="{{  current }}"><span>Admin</span></a>
        </li>
        {% endif %}
        
        <li>
            <a href="{% url 'logout' %}"><span>Logout</span></a>
        </li>
    {% else %}
        <li>
            {% url 'login' as current %}
            <a{% if current == requested %} class="current" {% endif %}
                href="{{  current }}"><span>Login</span></a>
        </li>
    {% endif %}
    {% endwith %}
    </ul>
</header>
{% if user.is_authenticated %}
<p id="password_paragraph"><a id="change_password_link" href="{% url 'password_change' %}">Change Password</a></p>
{% endif %}

<div id="content">
    <p><strong>{% block content_title %}{% endblock content_title %}</strong></p>

{% if messages %}
<div id="messages">
    <ul>
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>
            {{ message }}
        </li>
        {% endfor %}
    </ul>
</div>
{% endif %}

{% block content %}
{% endblock content %}
</div>
</body>
</html>
