{% load static %}
<html>
<head>
    <meta content-type='text/html'>
    <meta name="robots" content="NONE,NOARCHIVE">
    <link rel="stylesheet" href="{% static "checkouts/css/main.css" %}">
    <link rel="shortcut icon" href="/favicon.ico" />
    <title>
        {% block title %}Checkouts{% endblock title %}
    </title>
    {% block header_script %}{% endblock header_script %}
</head>
<body>
<div id="header">
    <ul>
    {% with requested=request.path %}
    {% if user.is_authenticated %}
        {% if user.is_superuser or user.is_pilot or user.is_flight_scheduler %}
        <li>
            {% url 'checkout_edit' as current %}
            <a{% if current == requested %} class="current" {% endif %}
                href="{{ current }}">Edit Checkouts</a>
        </li>
        {% endif %}
        
        <li>
            {% url 'checkout_filter' as current %}
            <a{% if current == requested %} class="current" {% endif %}
                href="{{ current }}">Filter Checkouts</a>
        </li>
        <li>
            {% url 'pilot_list' as current %}
            <a{% if current == requested %} class="current" {% endif %}
                href="{{ current }}">Pilot Reports</a>
        </li>
        <li>
            {% url 'airstrip_list' as current %}
            <a{% if current == requested %} class="current" {% endif %}
                href="{{ current }}">Airstrip Reports</a>
        </li>
        <li>
            {% url 'base_list' as current %}
            <a{% if current == requested %} class="current" {% endif %}
                href="{{ current }}">Base Reports</a>
        </li>
        
        {% if user.is_superuser %}
        <li>
            {% url 'admin:index' as current %}
            <a{% if current == requested %} class="current" {% endif %}
                href="{{ current }}">Admin</a>
        </li>
        {% endif %}
        
        <li>
            <a href="{% url 'logout' %}">Logout</a>
        </li>
    {% else %}
        <li>
            {% url 'login' as current %}
            <a{% if current == requested %} class="current" {% endif %}
                href="{{ current }}">Login</a>
        </li>
    {% endif %}
    {% endwith %}
    </ul>
</div>

<div id="content">
    <p><strong>{% block content_title %}{% endblock content_title %}</strong></p>

{% if messages %}
<div id="messages">
    <ul>
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>
            {{ message }}
        </li>
        {% endfor %}
    </ul>
</div>
{% endif %}

{% block content %}
{% endblock content %}
</div>
</body>
</html>
