{% load static %}
<html>
<head>
    <meta content-type='text/html'>
    <link rel="stylesheet" href="{% static "checkouts/css/styles.css" %}">
    <title>
	{% block title %}Checkouts{% endblock title %}
    </title>
</head>
<body>
<div>
    <p>
        <a href="#">Home</a>&nbsp;&nbsp;&nbsp;
        <a href="#">Add/Remove</a>&nbsp;&nbsp;&nbsp;
        <a href="{% url 'checkout_filter' %}">Filter</a>&nbsp;&nbsp;&nbsp;
        <a href="{% url 'pilot_list' %}">Pilot Reports</a>&nbsp;&nbsp;&nbsp;
        <a href="{% url 'airstrip_list' %}">Airstrip Reports</a>&nbsp;&nbsp;&nbsp;
        <a href="{% url 'base_list' %}">Base Reports</a>&nbsp;&nbsp;&nbsp;
        <a href="{% url 'admin:index' %}">Admin</a>
    </p>
    <p><strong>{% block content_title %}{% endblock content_title %}</strong></p>
</div>
{% comment %}
{% if messages %}
    <ul>
	{% for message in messages %}
	<li id="message_{{ forloop.counter }}"
	    {% if message.tags %} class="{{ message.tags }}" {% endif %}
	>
	    {{ message }}
	</li>
	{% endfor %}
    </ul>
{% endif %}
{% endcomment %}

{% block content %}
{% endblock content %}
</body>
</html>
